<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @dummy.title %>
</p>

<p>
  <b>Body:</b>
  <%= @dummy.body %>
</p>


<%= link_to 'Edit', edit_dummy_path(@dummy) %> |
<%= link_to 'Back', dummies_path %>
