<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Zenfocus</title>

<!-- rails stuff -->
<%= stylesheet_link_tag :all %>
<%= csrf_meta_tag %>

<!-- load jquery -->
<%= javascript_include_tag "jquery", "rails" %>

<!-- 960px stuff -->
<%= stylesheet_link_tag "reset" %>
<%= stylesheet_link_tag "text" %>
<%= stylesheet_link_tag "960" %>

<!-- my customizations off 960px -->
<%= stylesheet_link_tag "myLayout" %>
<%= stylesheet_link_tag "myTable" %>
<%= stylesheet_link_tag "myText" %>
<%= stylesheet_link_tag "myForm" %>